body {
  background-color: #4B7399;
  font-family: Verdana;
  font-size: 14px;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #b3e5fc;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#main-form {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#guessField {
    float: left;
    width: 70%;
    margin-right: 10px;
}

button#hint {
    float: right;
}

a {
  color: #0000FF;
}

.notice-block{
    position: absolute;
    width: 400px;
    right: 20px;
    top: 20px;
}

.notice{
    border: 1px solid #3b689c;
    border-radius: 5px;
    background: #0288D1;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 10px;
    z-index: 99999;
    margin: 10px 0;
}

.notice-message {
    color: #FFF;
    padding: 20px 10px;
}